@using PartDesk.Domain.Interfaces.Repositories
@using PartDesk.Domain.IoC
@using PartDesk.Web.Classes.Ext
@model PartDesk.Domain.Entities.User

@{
    ViewBag.Title = "Карточка пользователя " + Model.GetFio();
    Layout = "../Shared/AccountLayout.cshtml";
    var compRep = Locator.GetService<ICompaniesRepository>();
    var rolesRep = Locator.GetService<IRolesRepository>();
}

<div class="row">
    <div class="col-lg-12">
        <form action="/manage/users/update-info" id="user-info-form" role="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
            @Html.HiddenFor(m => m.Id)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="icon"><i class="icon20 i-settings"></i></div>
                    <h4>Свойства компании</h4>
                    <a href="#" class="minimize"></a>
                </div>
                <div class="panel-body">
                    <div class="page-header">
                        <h4>Общие сведения</h4>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="user-email-field">Email пользователя</label>
                        <div class="col-lg-10">
                            <input class="form-control disabled" readonly="readonly" name="Email" type="text" id="user-email-field" value="@Model.Email">
                        </div>
                    </div>
                    <div class="page-header">
                        <h4>Личные сведения</h4>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="user-fname-field">Имя</label>
                        <div class="col-lg-10">
                            <input class="form-control disabled" readonly="readonly" name="FirstName" type="text" id="user-fname-field" value="@Model.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="user-sname-field">Отчество</label>
                        <div class="col-lg-10">
                            <input class="form-control disabled" readonly="readonly" name="SurName" type="text" id="user-sname-field" value="@Model.SurName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="user-lname-field">Фамилия</label>
                        <div class="col-lg-10">
                            <input class="form-control disabled" readonly="readonly" name="LastName" type="text" id="user-lname-field" value="@Model.LastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="user-phone-field">Телефон</label>
                        <div class="col-lg-10">
                            <input class="form-control disabled" readonly="readonly" name="LastName" type="text" id="user-phone-field" value="@Model.Phone">
                        </div>
                    </div>
                    <div class="page-header">
                        <h4>Системное</h4>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="user-company-field">Компания</label>
                        <div class="col-lg-10">
                            <select id="user-company-field" name="CompanyId">
                                @foreach (var comp in compRep.FindAll().OrderBy(c => c.Name))
                                {
                                    <option value="@comp.Id" @(Model.CompanyId == comp.Id ? "selected=selected" : "")>@comp.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="user-role-field">Роль</label>
                        <div class="col-lg-10">
                            <select id="user-role-field" name="RoleId">
                                @foreach (var role in rolesRep.FindAll())
                                {
                                    <option value="@role.Id" @(role.Id == Model.RoleId ? "selected=selected" : "")>@role.DisplayName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="user-status-field">Статус</label>
                        <div class="col-lg-10">
                            <select id="user-status-field" name="Status">
                                <option value="0" @(Model.Status == 0 ? "selected=selected":"")>Активен</option>
                                <option value="1" @(Model.Status == 1 ? "selected=selected":"")>Заблокирован</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2">
                            <div class="pad-left15">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                <button type="button" class="btn" onclick="window.location.href='/manage/users'; return false;">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @* Заказы пользователя *@
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-cart-3"></i></div>
                <h4>Заказы пользователя</h4>
                <a href="#" class="minimize"></a>
            </div>
            <div class="panel-body">
                @{
                    var orders = Model.GetOrders();
                }
                <table class="table table-striped table-bordered table-hover" id="orders-table">
                    <thead>
                        <tr>
                            <th>Номер
                            </th>
                            <th>Статус
                            </th>
                            <th>Менеджер
                            </th>
                            <th>Клиент
                            </th>
                            <th>Наименований
                            </th>
                            <th>Общее кол-во
                            </th>
                            <th>Стоимость
                            </th>
                            <th>Дата обновления
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (orders.Count == 0)
                        {
                            <tr>
                                <td colspan="9">Не найдено активных заказов
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var order in orders)
                            {
                            <tr>
                                <td>
                                    <a href="/manage/orders/@order.Id/edit">@order.Id</a>
                                </td>
                                <td>
                                    @order.GetStatus()
                                </td>
                                <td>
                                    <a href="/manage/users/@order.ManagerId/info">@order.Manager.GetFioSmall()</a>
                                </td>
                                <td>
                                    <a href="/manage/clients/@order.ClientId/info">@order.Client.ToString()</a>
                                </td>
                                <td>
                                    @order.GetTypesCount()
                                </td>
                                <td>
                                    @order.GetTotalCount()
                                </td>
                                <td>
                                    @String.Format("{0:c}", order.GetTotalPrice())
                                </td>
                                <td>
                                    @order.LastUpdate.FormatDateTime()
                                </td>
                                <td style="width: 45px">
                                    <a href="javascript:changeOrderStatus(@order.Id)" class="btn btn-xs btn-success tip" title="Изменить статус заказа"><i class="icon12 i-pen-4"></i></a>
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
