@using PartDesk.Domain.Entities
@using PartDesk.Web.Classes.Ext
@model System.Collections.Generic.IList<PartDesk.Domain.Search.SearchResultItem>

<table class="table table-bordered table-hover" id="search-table">
    <thead>
        <tr>
            <th>
                Артикул
            </th>
            <th>
                Наименование
            </th> 
            <th>
                Бренд
            </th>
            <th>
                Срок поставки
            </th>
            <th>
                Количество
            </th>
            <th>
                Цена
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="7">
                    К сожалению, товар с таким артикулом не найден
                </td>
            </tr>
        }
        else
        {
            foreach (var result in Model.OrderByDescending(d => d.IsOriginal).ThenBy(d => d.VendorPrice))
            {
                <tr data-article="@result.Article" data-id="@result.Id" data-name="@result.Name" data-quantity="@result.Quantity" data-vendor-price="@result.VendorPrice" data-warehouse="@result.Warehouse" data-warehouse-id="@result.WarehouseId" data-brand="@result.Brand" data-margin="@result.CalculateMargin()" data-price="@result.GetPrice(ViewContext.CurrentUser().Company)" data-period="@result.DeliveryPeriod" class="@(result.IsOriginal ? "success":"")">
                    <td>
                        @result.Article
                    </td>
                    <td>
                        @result.Name
                    </td>
                    <td>
                        @result.Brand
                    </td>
                    <td>
                        @result.DeliveryPeriod
                    </td>
                    <td>
                        @result.Quantity
                    </td>
                    <td>
                        @String.Format("{0:c}",result.GetPrice(ViewContext.CurrentUser().Company))
                    </td>
                    <td style="width: 45px">
                        @if (ViewContext.CurrentUser().HasPermission(Permission.MakeOrder))
                        {
                            <a href="#" class="btn btn-xs btn-success tip add" title="Добавить позицию в заказ"><i class="icon12 i-cart-add"></i></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    $(".add").click(function() {
        var tr = $(this).parent().parent();
        var article = $(tr).data("article");
        var name = $(tr).data("name");
        var id = $(tr).data("id");
        var totalQuantity = $(tr).data("quantity");
        var vendorPrice = $(tr).data("vendor-price");
        var warehouse = $(tr).data("warehouse");
        var warehouseId = $(tr).data("warehouse-id");
        var brand = $(tr).data("brand");
        var margin = $(tr).data("margin");
        var price = $(tr).data("price");
        var period = $(tr).data("period");
        $("#make-article-field").val(article);
        $("#make-name-field").val(name);
        $("#make-id-field").val(id);
        $("#make-total-quantity-field").val(totalQuantity);
        $("#make-vendor-price-field").val(vendorPrice);
        $("#make-warehouse-field").val(warehouse);
        $("#make-warehouse-id-field").val(warehouseId);
        $("#make-brand-field").val(brand);
        $("#make-margin-field").val(margin);
        $("#make-price-field").val(price);
        $("#make-period-field").val(period);
        $("#make-quantity-field").val(1).keyup().change();
        $("#make-position-dialog").modal({
            keyboard: true
        });
        return false;
    });
</script>