@using PartDesk.Domain.Entities
@using PartDesk.Domain.Interfaces.Repositories
@using PartDesk.Domain.IoC
@model PartDesk.Domain.Entities.Role

@{
    ViewBag.Title = Model.Id <= 0 ? "Создание новой роли" : "Редактирование роли " + Model.DisplayName;
    Layout = "../Shared/AccountLayout.cshtml";
    var permRep = Locator.GetService<IPermissionsRepository>();
}

<form role="form" id="role-form" action="/manage/roles/save" method="POST" class="form-horizontal">
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="icon"><i class="icon20 i-settings"></i></div>
                    <h4>Свойства роли</h4>
                    <a href="#" class="minimize"></a>
                </div>
                <div class="panel-body">
                    <div class="page-header">
                        <h4>Общие свойства</h4>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="role-sname-field">Системное имя</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="SystemName" type="text" id="role-sname-field" value="@Model.SystemName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="role-dname-field">Отображаемое имя</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="DisplayName" type="text" id="role-dname-field" value="@Model.DisplayName">
                        </div>
                    </div>
                    <div class="page-header">
                        <h4>Разрешения</h4>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Имя привилегии
                                </th>
                                <th>
                                    Группа
                                </th>
                                <th>
                                    Разрешено
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var permission in permRep.FindAll())
                            {
                                <tr>
                                    <td>
                                        @permission.Name
                                    </td>
                                    <td>
                                        @permission.PermissionGroup
                                    </td>
                                    <td>
                                        <input type="checkbox" name="permission_@permission.Id" value="true" @(Model.HasPermission(permission.Id) ? "checked=checked":"")/>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <p style="margin-top: 10px">
                        Список разрешений будет пополняться
                    </p>
                    <div class="form-group">
                        <div class="col-lg-offset-2">
                            <div class="pad-left15">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                <button type="button" class="btn" onclick="window.location.href='/manage/roles'; return false;">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $("#role-form").validate({
            SystemName: {
                required: true,
                maxlength: 255
            },
            DisplayName: {
                required: true,
                maxlength: 255
            }
        });
    });
</script>
