@using PartDesk.Domain.Enums
@using PartDesk.Web.Classes.Ext
@model PartDesk.Domain.Entities.WarehouseDeliveryPeriod

@{
    ViewBag.Title = Model.Id <= 0 ? "Создание информации о доставке" : "Редактирование информации по доставке";
    Layout = "../Shared/AccountLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-car"></i></div>
                <h4>Информация о доставке со склада</h4>
                <a href="#" class="minimize"></a>
            </div>
            <!-- End .panel-heading -->
            <div class="panel-body">
                <form action="/manage/settings/periods/save" class="form-horizontal" id="period-form" method="POST">
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="period-vendor-field">Поставщик</label>
                        <div class="col-lg-10">
                            <select name="Vendor" id="period-vendor-field">
                                @foreach (PartVendor vendor in Enum.GetValues(typeof (PartVendor)))
                                {
                                    var s = (short) vendor;
                                    <option value="@s" @(Model.Vendor == s ? "selected=selected":"")>@vendor.GetEnumMemberName()</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="period-warehouse-field">Наименование склада</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="WarehouseName" type="text" id="period-warehouse-field" value="@Model.WarehouseName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="period-dd-field">Период доставки</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="DeliveryDate" type="text" id="period-dd-field" value="@Model.DeliveryDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="period-rc-field">Цвет выделения ряда</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="RowColor" type="text" id="period-rc-field" value="@Model.RowColor">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2">
                            <div class="pad-left15">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                <button type="button" class="btn" onclick="window.location.href='/manage/settings'; return false;">Отмена</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#period-form").validate({
            rules: {
               WarehouseName: {
                   required: true,
                   maxlength: 255
               },
               DeliveryDate: {
                   required: true,
                   maxlength: 255
               },
               RowColor: {
                   required: true,
                   maxlength: 255
               }
            }
        });
        $("#period-rc-field").spectrum({
            preferredFormat: "hex6",
            showInput: true,
            showInitial: true,
            clickoutFiresChange: true,
            chooseText: "Выбрать",
            cancelText: "Закрыть"
        });
    });
</script>
